@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Red Hat Text', sans-serif;
  }
}

:root {
  --black-gradient: linear-gradient(
    to top right,
    #000000 0%,
    #231943 100%
  );
}

* {
  scroll-behavior: smooth;
}

/* Background Gradient */

.rootbg {
  min-height: 100vh; /* This ensures the gradient covers the full height of the viewport */
  background: var(--black-gradient);
  color: white; /* Optional: Set text color to white for better visibility on dark background */
}

/* Postion */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This makes the div take the full height of the viewport */
}

/* Buttons */
.accentbutton {
  @apply bg-custom-accent text-custom-light hover:bg-custom-accent2 rounded-sm 
}
.lightbutton {
  @apply bg-custom-light text-black hover:bg-custom-light2 rounded-md
}
.graybutton {
  @apply bg-custom-light2 text-black hover:bg-custom-light3 rounded-sm
}

/* Divs */
.accentbox {
  @apply bg-custom-accent text-custom-light  rounded-sm 
}
.accentbox2 {
  @apply bg-custom-accent text-custom-light rounded-full 
}
.lightbox {
  @apply bg-custom-light text-black  rounded-md
}
.graybox {
  @apply bg-custom-light2 text-black  rounded-sm
}

.customborder {
  @apply border-black border-2 text-black focus:ring-black rounded-sm;
}

.inner-shadow {
  box-shadow: inset -5px -5px 20px 0 rgba(0, 0, 0, 0.5);
}

.outershadow {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.outershadow2 {
  box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.5);
}

.box30 {
  @apply w-[30px] h-[30px]
}


/* Theme Colors */

.dark {
  background-color: #231943;
}
.light {
  background-color: #F4F4F4;
}
.accent {
  background-color: #685AAB;
}
.accent2 {
  background-color: #5a4f95;
}

/* Mobile Font */

.mfont0 {
  font-family: "Bebas Neue";
  font-size: 64px;
  line-height: 40px;
  color: #F4F4F4;
}
.mfont1 {
  font-family: "Bebas Neue";
  font-size: 48px;
  line-height: 40px;
  color: #F4F4F4;
}
.mfont2 {
  font-family: "Bebas Neue";
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}
.mfont25 {
  font-family: "Bebas Neue";
  font-size: 36px;
  line-height: 30px;
  color: #F4F4F4;
}
.mfont29 {
  font-family: "Bebas Neue";
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.mfont3 {
  font-family: "Bebas Neue";
  font-size: 16px;
  line-height: 15px;
  color: #000000;
}
.mfont35 {
  font-family: "Bebas Neue";
  font-size: 16px;
  line-height: 15px;
  color: #F4F4F4;
}
.mfont37 {
  font-family: "Bebas Neue";
  font-size: 16px;
  line-height: 15px;
  color: #685AAB;
}
.mfont39 {
  font-family: "Bebas Neue";
  font-size: 16px;
  line-height: 15px;
  color: #6d6d6d;
}
.mfont4 {
  font-family: "Red Hat Text";
  font-size: 16px;
  line-height: 15px;
  color: #000000;
}
.mfont45 {
  font-family: "Red Hat Text";
  font-size: 16px;
  line-height: 15px;
  color: #F4F4F4;
}
.mfont49 {
  font-family: "Red Hat Text";
  font-size: 16px;
  line-height: 15px;
  color: #6d6d6d;
}
.mfont5 {
  font-family: "Red Hat Text";
  font-size: 10px;
  line-height: 10px;
  color: #000000;
}
.mfont55 {
  font-family: "Red Hat Text";
  font-size: 10px;
  line-height: 10px;
  color: #F4F4F4;
}

/* Desktop Font */

.dfont1 {
  font-family: "Bebas Neue";
  font-size: 64px;
  line-height: 55px;
  color: #F4F4F4;
}
.dfont2 {
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 35px;
  color: #000000;
}
.dfont3 {
  font-family: "Bebas Neue";
  font-size: 20px;
  line-height: 15px;
  color: #000000;
}
.dfont4 {
  font-family: "Red Hat Text";
  font-size: 20px;
  line-height: 15px;
  color: #000000;
}

/* Test colors for backgrounds */

.testred {
  background: #FF0000 !important; /* Red */
}
.testorange {
  background: #FFA500 !important; /* Orange */
}
.testyellow {
  background: #FFFF00 !important; /* Yellow */
}
.testgreen {
  background: #008000 !important; /* Green */
}
.testblue {
  background: #0000FF !important; /* Blue */
}
.testpurple {
  background: #800080 !important; /* Purple */
}
.testpink {
  background: #FFC0CB !important; /* Pink */
}
